.categoryViewContainer {
  width: 100%;
}

.shiftBox {
  padding: 5%;
}

.header {
  padding-bottom: 3%;
}

.title {
  padding-bottom: 5%;
  float: left;
  display: block;
}

.close {
  float: right;
  padding-bottom: 5%;
  display: block;
}

.name {
  padding-bottom: 2%;
}

.formField {
  width: 100%;
  padding-bottom: 5%;
  padding-right: 3%;
  float: left;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.submit {
  float: right;
  margin-bottom: 10px;
}

.clear {
  float: left;
  margin-bottom: 10px;
}
