.container {
	display: flex;
	justify-content: space-between;
	width: 90%;
	gap: 10%;
	margin-top: 25px;
}

.searchBar {
	width: 50%;
}

.filters {
	width: 40%;
	display: flex;
	justify-content: space-between;
}
		
