.card {
    margin: 10px 20px 20px 20px;
}

.body {
    color: #797979;
    padding-bottom: 20px;
}

.bodyTitle {
    color: #000000;
    padding: 20px 0px 10px 0px;
}

.textField {
    color: #898989;
}

.bodyText {
    line-height: 40px;
}

.flex {
    display: flex;
}

.line {
    height: 1px;
    border: none;
    background-color: #DFDFDF;
}

.save {
    float: right;
    padding: 10px 0px 20px 0px;
}