.container {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    height: 100vh;
    min-height: fit-content;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}
