.assignShiftBox {
  padding: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
}

.close {
  text-align: right;
}

.assignShiftInfo {
  display: flex;
  justify-content: space-between;
  margin: 5% 0 5% 0;
}

.infoForShift {
  background-color: #eeeeee;
  border-radius: 34px;
  padding: 4px 10px 4px 10px;
}

.verifyButton {
  display: flex;
  justify-content: flex-end;
  margin: 5% 0 5% 0;
}
