.availabilityBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 140px;
  height: 20px;
  border-style: solid;
  font-size: 11px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.rowTable {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 40%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 80%;
}

.availabilityBox:hover {
  cursor: pointer;
}
