.background {
	height: 16%;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
}

.container {
	width: 92%;
	display: flex;
	flex-direction: column;
}

.filterContainer {
	display: flex;
	width: 62.2%;
	height: 100%;
	background-color: bisque;
	position: relative;
}

.title {
	position: relative;
	top: 17%
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 40%
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 62%;
	gap: 16px;
}

.searchBar {
	width: 49.3%;
}

.tempShift {
	width: 12.3%;
	height: 100%;
}