.create {
    height: 100vh;
    background-color: #F3F5F6;
}

.logo {
    padding: 2%;
}

.card {
    background-color: #FFFFFF;
    width: 45%;
    height: 70%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1%;
}

.body {
    padding: 10%;
    padding-top: 6%;
    color: #515151;
}

.text {
    padding-bottom: 2%;
    padding-top: 4%;
}

.textfield {
    color: #E2E2E2;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}

.button {
    margin: 3% 0 3% 0;
}

.pwhelp {
    color: #A5A5A5;
}